@model List<AutorConLibro>

<h2>Lista de autores con libros</h2>

<table class="tabla-autores">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Título del libro</th>
            <th># Paginas</th>
            <th>Sinopsis</th>
            <th>Editorial</th>
            <th>Sede</th>
        </tr>
    </thead>
    <tbody>
      
            @foreach (var autorconlibro in Model)
            {
               
                <tr>
                <td>@autorconlibro.Nombre</td>
                <td>@autorconlibro.Apellido</td>
                <td>@autorconlibro.Titulo</td>
                <td>@autorconlibro.n_paginas</td>
                <td>@autorconlibro.Sinopsis</td>
                <td>@autorconlibro.Editorial</td>
                <td>@autorconlibro.Sede</td>
              
                </tr>
            }
        
    </tbody>
</table>
